<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span style="color: red;">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if form %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% if books %}
        {% for book in books %}
            <div>
                <img src="https://i4.mybook.io/c/124x196/{{ book['book_cover'] }}">
                <span style="font-style:bold">{{ book['author'] }} - {{ book['book_name'] }}</span>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>